%li
  %a{"data-target" => "#DepositModal", "data-toggle" => "modal", :href => "javascript:void(0);"} Deposit
%li
  %a{"data-target" => "#WithdrawModal", "data-toggle" => "modal", :href => "javascript:void(0);"} Withdraw
%li
  %a{"data-target" => "#TransferModal", "data-toggle" => "modal", :href => "javascript:void(0);"} Transfer
%li.dropdown.pull-right
  %a#drop1.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "javascript:void(0);", :role => "button"}
    = @current_account.username
    %span.caret
  %ul.dropdown-menu{"aria-labelledby" => "drop1"}
    - other_bank_accounts.each do |bank_acccount|
      %li.username
        %a{:href => root_path(from_account_id: bank_acccount.id)}= bank_acccount.username
